@use 'base/variables' as var;
@use 'base/mixins' as mix;

.modal {
    position: absolute;
    background-color: rgb(0 0 0 / .8);
    inset: 0;

    .formulario {
        max-width: 60rem;
        background-color: var.$blanco;
        padding: 2rem;
        margin: 0 auto;
        transform: translateY(-30rem);
        transition-property: all;
        transition-duration: 500ms;
        opacity: 0;
        border-radius: 1rem;

        legend {
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
            display: block;
        }

        input[type="text"] {
            border: 1px solid var.$gris;
            border-radius: .5rem;
        }

        .opciones {
            display: flex;
            justify-content: space-between;
        }

        .submit-nueva-tarea {
            @include mix.boton(var.$indigo, var.$blanco);
        }

        .cerrar-modal {
            @include mix.boton(var.$naranja, var.$blanco);
        }

        &.animar {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }

        &.cerrar {
            transform: translateY(-200%);
            opacity: 0;
        }
    }
}